@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html, 
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  overflow: hidden;
}

.App {
  position: relative;
  text-align: center;
}

$arroDim: 10rem;
$blackOpBg: rgba(black, .5);

.arrow {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    display: inline-block;
    width: 0;    
    height: 0;
    border-left: $arroDim solid transparent;
    border-right: $arroDim solid transparent;
    border-top: $arroDim solid $blackOpBg;
    z-index: 2;
  }

.illustration-container {
  position: relative;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23333333' fill-opacity='0.2'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  transition: all .3s linear;
}

.app-title {
  text-shadow: black 1px 0 10px;
}

.illustration-header {
  position: relative;
  z-index: 10;

  h1,
  h2 {
    color: white;
    margin: .25rem 0;
    text-transform: uppercase;
  }

  h2 {
    font-size: 1rem;
  }
}

.regenerate {
  z-index: 11;
  position: relative;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}


// svgs

.circle-svg-path {
  animation-name: dash;
  animation-timing-function: linear;
}

/** animations **/

@keyframes dash {
  to {
    stroke-dashoffset: 500;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/** forms **/

button {
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  font-size: 1.25rem;
  border-radius: 4px;
  margin-top: .25rem;
  opacity: .7;
  transition: all .2s;

  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}

// about
  .about {
    
    padding: .25rem;

    .about-link {
      font-size: .7rem !important;
      text-decoration: none !important;
      color: white !important;
      margin-right: .75rem;
      border-bottom: 1px solid rgba(white, .3);

      &:hover {
        color: yellow !important;
      }
    }
  }

/** edit panel **/

@media only screen and (max-width: 600px) {
  .edit-panel {
    display: none;
  }
}

.edit-panel {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 1rem;
  z-index: 11;
  text-align: center;
  
  main {
    display: flex;
    width: auto;
    justify-content: center;

    section {
      background-color: $blackOpBg;
      padding: .5rem;
      border-radius: 4px;
      margin-right: .5rem;
      color: white;
      width: 10em;
    }
  }

  input {
    font-size: 1.25rem;
    padding: .25rem .5rem;
    background: rgba(black, .25);
    color: white;
    border: none;
    max-width: 40%;
    margin-right: .25rem;

    &:focus {
      background: white;
      color: #333;
    }
  }
}
